* {font-family:'lucida grande',tahoma,helvetica,arial,'bitstream vera sans',sans-serif,"新宋体"; font-size:12px; color:#666;}

.font_14 { font-family:"新宋体"; font-size:14px;}

.font_18 {font-family:arial; font-size:20px;}

.font_24_en { font-family:'lucida grande',tahoma,helvetica,arial,'bitstream vera sans',sans-serif; font-size:24px; color:#333;}
.font_24 { font-family:"Microsoft YaHei",STXihei,SimHei,SimSun,Helvetica,serif; font-size:36px; color:#333;}

.blue {color:#0000ff;}
.strong {font-weight:bold;}